*.bak
*.yaml
*.yml
!.travis.yml
!circle.yml
*.swp

# Python junk
*.pyc
.ipynb_checkpoints
*.so
.eggs
*.egg-info
.coverage
build
dist
.tox
htmlcov

# Cython compiled files
pymer/_cms.c
pymer/_hash.c

#doc temps
doc/_build
