*.bak
*.yaml
*.yml
!.travis.yml
!circle.yml
*.swp

# version
src/pymer/_version.py

# Mac stuff
.DS_Store

# Python junk
*.pyc
.ipynb_checkpoints
*.so
.eggs
*.egg-info
.coverage
build
dist
.tox
htmlcov

# Cython compiled files
src/pymer/_cms.c
src/pymer/_hash.c

#doc temps
doc/_build
